{{ define "main" }}

<div class="max-w-prose mx-auto flex justify-center">
  <article class="prose prose-slate lg:prose-xl dark:prose-invert">
    <h2 class="lg:text-large font-bold">{{ .Title }}</h2>
    {{ .Content }}
  </article>
</div>

{{ $view := .Params.view | default "card" }}
{{ $block := . }}

<div class="flex flex-col items-center">

  {{ partial "functions/render_view" (dict "fragment" "start" "page" $block "item" . "view" $view) }}

  {{ range $index, $item := .Pages.ByDate.Reverse }}
  {{ partial "functions/render_view" (dict "page" . "item" . "view" $view "index" $index) }}
  {{end}}

  {{ partial "functions/render_view" (dict "fragment" "end" "page" $block "item" . "view" $view) }}

</div>

{{ end }}